fastapi
uvicorn[standard]
python-multipart
pillow
numpy
scikit-learn
xgboost
joblib
pandas
cryptography
passlib[bcrypt]
pyjwt
sqlalchemy
alembic
python-dotenv
pymongo
python-jose
tensorflow
pytesseract

